<ion-view view-title="Gelinlik">
  <ion-content>

<div class="list list-inset">
  <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" ng-model="ara" placeholder="Search">
  </label>
</div>


<button class="button button-dark">
  button-dark
</button>

<button class="button button-dark">
  button-dark
</button>

<button class="button button-dark">
  button-dark
</button>

<button class="button button-dark">
  button-dark
</button>

<button class="button button-dark">
  button-dark
</button>





  	<div class="list card" ng-repeat="veri in gelenveri | filter:ara">
	  	<div class="item item-body" style="background-image: url('{{veri.resimURL}}')">
	  		<button class="button button-dark">
				  button-dark
				</button>
		    <p>
		      {{veri.aciklama}}
		    </p>
	  	</div>
		</div>

  </ion-content>
</ion-view>
