/* Empty. Add your own CSS if you like */

.resim_arkaplan {
    width: auto;
    max-width: 350px;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.label_tasarim {
    background-color: black;
    border-radius: 25px;
    padding: 10px;
    color: white;
}